@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body{
	font-family: arial,sans-serif;
	background-color: #1a1818;
	color: rgb(255, 255, 255);
}
div#interface{
	width: 1200px;
	background-color:#080404;
	margin: -20px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding: 10px;
	
}
p{
	text-align: justify;
	text-indent: 50px;
}
header#cabecalho{
	font-family: 'Titillium Web', sans-serif;
	border-bottom: 1px #f8f5f5 solid;
	height: 100px;
	
}
header#cabecalho img#icone{
	position: absolute;
	left: 1100px;
	top: 50px;
}
header#cabecalho h1{
	font-family: 'Titillium Web', sans-serif;
	font-size: 30px;
	color: #e9e1e1;
	text-shadow: 1px 1px 1px rgb(160, 147, 147);
	padding: 0px;
	margin-bottom: 0px;
}
header#cabecalho h2{
	font-family: 'Titillium Web', sans-serif;
	color: #e7dddd;
	text-shadow: 1px 1px 1px rgb(155, 146, 146);
	font-size: 15pt;
	padding: 0px;
	margin-top: 0px;
}
/* formatacão de imagens com legendas*/

figure.foto-legenda{
	position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px rgb(255, 252, 252);
    width: 50%;
    display: block;
    margin: auto;
}
figure.foto-alvo{
	position: relative;
     width: 50%;
    display: block;
    margin: auto;
}
figure.foto-legenda img{
	width: 100%;
 	height: 100%;
}
figure.foto-alvo img{
	width: 100%;
 	height: 100%;
}
section#bue h1{
	font-family: 'Titillium Web', sans-serif;
	font-size: 30px;
	margin: 0px;
}
section#bue h2{
	font-family: 'Titillium Web', sans-serif;
	font-size: 30px;
	margin-bottom: 0px;
}
section#bue h4{
	font-family: 'Titillium Web', sans-serif;
	margin-bottom: 0px;
	font-size: 10px;
}
section#bue h5{
	font-family: 'Titillium Web', sans-serif;
	margin-bottom: 0px;
	font-size: 10px;
}

figure.foto-legenda figcaption{
	opacity: 0;
	position: absolute;
	top:0px;
	background-color: rgba(0,0,0,.4);
	color: rgb(10, 10, 10);
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}
figure.foto-legenda:hover figcaption{
opacity: 1;
}
/* formatação menu */

nav#menu {

	display: block;

}
nav#menu h1{

	display: none;
}

nav#menu ul{

	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -20px;
	left: 700px;
}
nav#menu li{

	display: inline-block;
	background-color:#1d1c1c;
	padding: 10px;
	margin:2px;
}
footer#rodape{
	clear: both;
	border-top: 1px solid #161515;
}
footer#rodape p{
	text-align: center;
}
a:visited{
	color: #fcf0f0;
}
a:hover{
	text-decoration:;
}
nav#menu li:hover{
	background-color: #d4b1b1;
}